<ion-content [fullscreen]="true">
  <div class="flex-center"> 
    <!-- LoginPage -->
    <form [formGroup]="form">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Reciclica</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>

        <ion-item>
          <ion-input label="Email" labelPlacement="floating" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        <ion-label color="danger" *ngIf="form.get('email').touched && form.get('email').errors?.email">Email is mandatory</ion-label>
        <ion-label color="danger" *ngIf="form.get('email').touched && form.get('email').errors?.email">Email is invalid</ion-label>
        <ion-item>
          <ion-input label="Password" labelPlacement="floating" placeholder="Password" formControlName="password"></ion-input>
        </ion-item>
        <ion-label color="danger" *ngIf="form.get('password').touched && form.get('password').errors?.email">Password is mandatory</ion-label>

        <ion-button color="dark" fill="clear" size="full" [disabled]="!form.get('email').valid" >Forgot / Password</ion-button>
        <ion-button color="success"  size="full" [disabled]="!form.valid" (click)="login()">Login</ion-button>
        <ion-button color="success" fill="clear"  size="full" (click)="register()"> Register</ion-button>

      </ion-card-content>

    </ion-card>
  </form>
  </div>
</ion-content>
