<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-list color="success">
    <ion-item color='success'>
      <ion-avatar slot="start">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYMaPGGVteaSenjgisV2rZdms4BzFV3QbLPg&usqp=CAU" style="align-items: center" width="auto !important;">
      </ion-avatar>
      <ion-label>
        <h1>Wise Ephay</h1>
        <p> Gathered: <span class="money">$50,000</span></p>
      </ion-label>
    </ion-item>
    </ion-list>

    <app-pickupcallcard></app-pickupcallcard>
    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="success">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
